
body{  
    background: rgb(3,55,71);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: relative;
    background:  linear-gradient(#033747,#012733) ;
     padding: 0px 50px;
}
nav .logo p{
    font-size: 35px;
    font-weight: bold;
    float: left;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav .logo p:hover{
    color: rgb(29 161 242);
    text-shadow: 0px 0px 5px;
}
nav li{
    display: inline-block;
    list-style: none;
}
li{
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 50px;
    color: white;
    text-decoration: none;
}
nav li a:hover {
  color: rgb(   29 161 242);
  text-shadow: 0px 0px 5px;
}
img{
    width: 115px;
    height: 50px;
}
h1{
    font-size: 6vh;    
    color: whitesmoke;
}
.cool {
    line-height: auto;
        animation: cool;
        animation-timing-function: ease;
        animation-duration: 1.8s;
        animation-iteration-count: 1;
        text-align: center;
        margin-top: 75px;
        margin-bottom: 0px; 
        font-size: 5vw;
    }
    
    @keyframes cool{
        from {margin-left: 100%;}
        to {margin-left: 0%;}
    }
    .coolp {
        line-height: auto;
        animation: coolp;
        animation-timing-function: ease;
        animation-duration: 1.8s;
        animation-iteration-count: 1;
        color: white;
        padding: 0px 100px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 60px; 
        font-size:3vw;
    } 

    @keyframes coolp{
        from {margin-top: 100%;}
        to {margin-top: 0%;}
    }
    .ali{
        text-align: center;
        
    }
    .fr{
        animation: fr;
        animation-timing-function: ease;
        animation-duration: 1.8s;
        animation-iteration-count: 1;
        margin-top: 75px;
        font-size: 7vw;
        text-align: center; 
        color: whitesmoke;
    }
    
    @keyframes fr{
        from {margin-left: 100%;}
        to {margin-left: 0%;}
    }
    .ullist2
    {
        animation: ul;
        animation-timing-function: ease;
        animation-duration: 1.8s;
        animation-iteration-count: 1;
        text-align: center;
        color: white;
        font-size: 50px;
        margin-bottom: 20px ;
        text-decoration: none; 
        font-size:3vw;
    }
    @keyframes ul{
        from {margin-top: 100%;}
        to {margin-top: 0%;}
    }
    .ullist2 a{
        text-decoration: none; 
        color: white; 
    }
    .sucks{
        display: flex;
        justify-content: center;
        margin: 10px;
        text-align: center;
        margin-top: 350px; 
        padding: 0px 50px;
        gap: 25px;
    }
    .ploopy{
        float: right; 
        padding: 0px 50px;
    }
